
Unity/SafeAreaHelper/Library/

Unity/SafeAreaHelper/Logs/

Unity/\.DS_Store

\.DS_Store

Android/SafeAreaHelper/\.idea/

Unity/SafeAreaHelper/Temp/
Unity/SafeAreaHelper/Builds/
Unity/SafeAreaHelper/obj/
Unity/SafeAreaHelper/.vs/
