
**/\.DS_Store/

Android/SafeAreaHelper/\.idea/

Unity/SafeAreaHelper/Library/
Unity/SafeAreaHelper/Logs/
Unity/SafeAreaHelper/Temp/
Unity/SafeAreaHelper/Builds/
Unity/SafeAreaHelper/obj/
Unity/SafeAreaHelper/.vs/

*.csproj
*.sln
*.user